.carro{
	position: relative;
	width: 940px;
    padding: 20px 0;
    margin: 0px 50px;


}
header{
	background-color: red;
	width:100%;


}

nav li{
	display: inline;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;

}
nav a{
	text-decoration: none;
	padding: 20px;
}

.lista{
	text-transform: uppercase;
	color:black;
	font-weight: bold;
	font-size: 30px;
	margin:0px 60px;

}

.partes li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top ;
	background-color:white;
	margin:0 1.5%;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 30px 30px 30px 30px;
   


}
.partes {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0px;
}

.partes h2 {
	font-size: 40px;
	font-weight: bold;
}
.partes h3 {
	font-size: 40px;
	font-weight: bold;
}

.partes h4 {
	font-size: 40px;
	font-weight: bold;
}

.paragrafo{
	font-size: 30px;
}